<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>maven</display-name>
    <servlet>
        <servlet-name>SerletExamen</servlet-name>
        <servlet-class>com.jorge.maven.SerletExamen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExamen</servlet-name>
        <servlet-class>com.jorge.maven.ServletExamen</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SerletExamen</servlet-name>
        <url-pattern>/SerletExamen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExamen</servlet-name>
        <url-pattern>/resultados</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
